/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

html {
  @apply .border-t-20 .border-indigo;
  min-height: 100vh;
}

body {
  @apply .font-sans .text-xl .mx-8;
}

a {
  @apply .text-indigo;
  transition: color 0.3s ease-in;
}

a:hover {
  @apply .text-indigo-darker;
}

.border-t-20 {
  border-top-width: 20px;
}

.border-l-20 {
  border-left-width: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.poppins {
  font-family: 'Poppins';
}

.site-wrapper {
  @apply .w-full .max-w-2xl;
}

.hero {
  @apply max-w-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .poppins;
}

.hero,
.projects {
  @apply .mt-80;
}

h1 {
  @apply .text-3xl;
}

p {
  @apply .mt-8 .leading-tight;
}

p a {
  @apply .font-bold .no-underline .border-b .pb-px;
}

ul {
  @apply .text-base .leading-normal .px-4 .mt-8;
}

li {
  @apply .mr-4;
}

li a {
  @apply .no-underline .border-b .pb-px;
}

@screens md {
  html {
    @apply .border-0 .border-l-20;
  }

  .site-wrapper {
    @apply .w-4/5;
  }

  body {
    @apply .mx-16;
  }

  ul {
    @apply .text-lg p-0;
  }

  li {
    @apply .mr-6;
  }

}

@media (min-width: 768px) {
  html {
    @apply .border-l-20 border-t-0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@screens lg {
  h1 {
    @apply .text-4xl w-3/4;
  }
  p {
    @apply .text-2xl .w-3/4;
  }

}

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
